<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bookworm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D50B0ABB1E90627C00AE5C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50B0AD41E90627D00AE5C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50B0ADF1E90627D00AE5C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
