<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992994720457-bac9dkufa2r01ekgatt7kajv9fvk9ri0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992994720457-bac9dkufa2r01ekgatt7kajv9fvk9ri0</string>
	<key>API_KEY</key>
	<string>AIzaSyDpaO5aUQmdyuSuok0Og_GSWgUMClC_qCU</string>
	<key>GCM_SENDER_ID</key>
	<string>992994720457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>class.bookworm</string>
	<key>PROJECT_ID</key>
	<string>bookworm-35248</string>
	<key>STORAGE_BUCKET</key>
	<string>bookworm-35248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992994720457:ios:6f8cae79b71a42aa</string>
	<key>DATABASE_URL</key>
	<string>https://bookworm-35248.firebaseio.com</string>
</dict>
</plist>